version: '2.2'
services:
  crm-cluster-reverse:
    image: nginx:latest
    container_name: crm-cluster-reverse
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 443:443
    networks:
      - crm-cluster-network
  crm-node-1:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.5.0
    container_name: crm-node-1
    environment:
      - cluster.name=crm-cluster
      - node.name=crm-node-1
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    networks:
      - crm-cluster-network
  crm-node-2:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.5.0
    container_name: crm-node-2
    environment:
      - cluster.name=crm-cluster
      - node.name=crm-node-2
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "discovery.zen.ping.unicast.hosts=crm-node-1"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata2:/usr/share/elasticsearch/data
    networks:
      - crm-cluster-network

volumes:
  esdata1:
    driver: local
  esdata2:
    driver: local

networks:
  crm-cluster-network:
    driver: bridge